.name-date {
  display: flex;
  justify-content: space-evenly;
}

.book-section {
  display: flex;
  justify-content: space-evenly;
}

.thumbsDown:hover,
.thumbsUp:hover {
  transform: scale(1.2);
  cursor: pointer;
}
